{% extends "::template.html.twig" %}

{% block title %}LeanAdminBundle:Add:index{% endblock %}

{% block body %}

<div class="container"><div class="row">

<div class="col-md-3">
<div class="panel panel-default"><div class="panel-body">
<h1>选择添加类型</h1>

<ul class="nav nav-pills nav-stacked">
	<li><a href="{{path('add_data' , {'type':'contact'})}}">添加客户</a></li>
	<li><a href="{{path('add_data' , {'type':'user'})}}">添加会员</a></li>
	<li><a href="{{path('add_data' , {'type':'company'})}}">添加企业</a></li>
	<li><a href="{{path('add_data' , {'type':'opportunity'})}}">添加销售机会</a></li>
</ul>
</div></div>
</div>

<div class="col-md-9">

<div class="panel panel-default">
  	<div class="panel-body">
		
		{% if type is defined  %}
		<div class="col-md-6">

			<input type="hidden" name="add_user_" value="{{ path('rest_') }}" ng-model="add_user_" />

			{{ form_start(form , { 'action' : '' , 'method' : 'post' , 'class' : 'form-horizontal'}) }}

			    <div class="form-group">
			    	<label for="">{{ form_label(form.name) }}</label>
				    {{ form_widget(form.name, { 'attr' : { 'class' : 'form-control' , 'id' : 'username' , 'placeholder' : '输入名字' } }) }}
				</div>

				<div class="form-group" ng-controller="add_user">
				    <label for="">{{ form_label(form.username) }}</label>
				    {{ form_widget( form.username, { 'attr' : { 'class' : 'form-control' , 'id' : 'username' , 'placeholder' : '输入用户名' , 'ng-keyup' : 'username_exist(e)' , 'ng-model' : 'username' } } ) }}
				</div>

				<div class="form-group">
				    <label for="">{{ form_label(form.email) }}</label>
				    {{ form_widget(form.email, { 'attr' : { 'class' : 'form-control' , 'id' : 'username' , 'placeholder' : '输入邮箱' } }) }}
				</div>

				<div class="form-group">
				    <label for="">{{ form_label(form.password) }}</label>
				    {{ form_widget(form.password, { 'attr' : { 'class' : 'form-control' , 'id' : 'username' , 'placeholder' : '输入密码' } }) }}
				</div>

			{{ form_end(form) }}
		</div>

		<div class="col-md-6">



		</div>

		{% endif %}

	</div>
</div>
</div>

</div></div>
{% endblock %}


{% block javascript %}
	
	<script src="{{ asset( 'bundles/angular_mvc/controllers/AdminBundle/Add/index.js') }}"></script>
	
{% endblock %}




