{% extends "::template.html.twig" %}

{% block title %}LeanAdminBundle:Add:index{% endblock %}

{% block body %}

<div class="container"><div class="row">

<div class="col-md-3">
<div class="panel panel-default"><div class="panel-body">
<h1>选择添加类型</h1>

<ul class="nav nav-pills nav-stacked">
	<li {% if type is defined and type == 'contact'  %}class="active"{% endif %}>
		<a href="{{path('add_data' , {'type':'contact'})}}">添加客户</a>
	</li>
	
	<li {% if type is defined and type == 'user'  %}class="active"{% endif %}>
		<a href="{{path('add_data' , {'type':'user'})}}">添加会员</a>
	</li>
	
	<li {% if type is defined and type == 'company'  %}class="active"{% endif %}>
		<a href="{{path('add_data' , {'type':'company'})}}">添加企业</a>
	</li>
	
	<li {% if type is defined and type == 'opportunity'  %}class="active"{% endif %}>
		<a href="{{path('add_data' , {'type':'opportunity'})}}">添加销售机会</a>
	</li>
</ul>
</div></div>
</div>

<div class="col-md-9">

<div class="panel panel-default">
  	<div class="panel-body">
		
		{% if type is defined and type == 'user'  %}
		<div class="col-md-6" ng-controller="add_user">

			{{ form_start(form , { 'action' : '' , 'method' : 'post' , 'class' : 'form-horizontal'}) }}

			    <div class="form-group">
			    	<label for="">{{ form_label(form.name) }}</label>
				    {{ form_widget(form.name, { 'attr' : { 'class' : 'form-control' , 'placeholder' : '输入名字' } }) }}
				</div>

				<div class="form-group">
				    <label for="">{{ form_label(form.username) }}</label>
				    {{ form_widget( form.username, { 'attr' : { 'class' : 'form-control' , 'placeholder' : '输入用户名' , 'ng-keyup' : 'username_exist(e)' , 'ng-model' : 'username' } } ) }}
				</div>

				<div class="form-group">
				    <label for="">{{ form_label(form.email) }}</label>
				    {{ form_widget(form.email, { 'attr' : { 'class' : 'form-control' , 'placeholder' : '输入邮箱' } }) }}
				</div>

				<div class="form-group">
				    <label for="">{{ form_label(form.password) }}</label>
				    {{ form_widget(form.password, { 'attr' : { 'class' : 'form-control' , 'placeholder' : '输入密码' } }) }}
				</div>

			{{ form_end(form) }}
		</div>

		<div class="col-md-6">

		 {% raw %} 
		 	{{data.username}}

		 	{{data.username}}

		 	{{data.username}}
		 {% endraw %} 

		</div>

		{% elseif type is defined and type == 'contact' %}

		<div class="col-md-6" ng-controller="add_user">

			{{form(form)}}

		</div>

		<div class="col-md-6">

		</div>

		{% elseif type is defined and type == 'company' %}

		<div class="col-md-6" ng-controller="add_user">

			{{form(form)}}

		</div>

		<div class="col-md-6">

		</div>		

		{% elseif type is defined and type == 'opportunity' %}



		{% endif %}

	</div>
</div>
</div>

</div></div>
{% endblock %}


{% block javascript %}
<script>
function add_user( $scope , $http)
{


		
	
	$scope.username_exist = function ()
	{
		data = {
			'username' : $scope.username , 
		};

		$http({
		
			url : "{{ url('rest_add_user_') }}" ,
			data : $.param( data) , 
			method : "POST" ,  
			headers : {
				'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
			},
		}).success(function(data ,status) {

			$scope.data = data;
		
		});

	}
}
</script>
{% endblock %}




